<% goal_icons = defined?(GOAL_ICONS) ? GOAL_ICONS : {} %>
<h1 class="page-title page-title--centered">Dashboard</h1>
<section class="dashboard-wrapper">
  <%= render "ideas_panel", ideas: @ideas %>
  <%= render "summary_panel",
        goal_counts: @goal_counts,
        task_counts: @task_counts,
        due_today_tasks_not_started: @due_today_tasks_not_started,
        due_today_goals_not_started: @due_today_goals_not_started,
        due_today_tasks_in_progress: @due_today_tasks_in_progress,
        due_today_goals_in_progress: @due_today_goals_in_progress,
        due_today_tasks_on_hold: @due_today_tasks_on_hold,
        due_today_goals_on_hold: @due_today_goals_on_hold,
        due_today_tasks_completed: @due_today_tasks_completed,
        due_today_goals_completed: @due_today_goals_completed,
        time_remaining_minutes_today: @time_remaining_minutes_today,
        total_estimated_minutes_today: @total_estimated_minutes_today,
        total_actual_minutes_today: @total_actual_minutes_today,
        rewards_total_count: @rewards_total_count,
        rewards_available_count: @rewards_available_count %>
  <%= render "goals_panel",
        goal_icons: goal_icons,
        in_progress_goals: @in_progress_goals,
        not_started_goals: @not_started_goals,
        completed_goals: @completed_goals %>
  <%= render "tasks_panel",
        goal_icons: goal_icons,
        in_progress_tasks: @in_progress_tasks,
        not_started_tasks: @not_started_tasks,
        on_hold_tasks: @on_hold_tasks %>
  <%= render "completed_tasks_panel",
        goal_icons: goal_icons,
        completed_tasks: @completed_tasks %>
</section>
