<%= render "shared/logged_in_heading", title: "Workouts" %>

<div class="workouts-wrapper">

  <div class="workouts-week-summary">
    <% WorkoutPlan::TYPES.each do |type| %>
      <div class="week-summary-item">
        <span class="week-summary-emoji"><%= WorkoutPlan::EMOJIS[type] %></span>
        <span class="week-summary-count <%= 'week-summary-done' if @week_counts[type] >= WorkoutPlan::TARGETS[type] && WorkoutPlan::TARGETS[type] > 0 %>">
          <%= @week_counts[type] %>/<%= WorkoutPlan::TARGETS[type] %>
        </span>
        <span class="week-summary-label"><%= WorkoutPlan::LABELS[type] %></span>
      </div>
    <% end %>
  </div>

  <%= render "workouts/week_planner" %>

</div>
