<section id="task-calendar-monthly">
  <h1><%= goal_icons["calendar"] %> | Monthly Calendar</h1>
  <%= month_calendar(attribute: :due_date) do |date| %>
    <ul class="task-calendar-monthly-day">
      <strong class="date_day"><%= date.day %></strong>

      <% tasks_for_date = tasks.select { |task| task.due_date.present? && task.due_date.in_time_zone.to_date == date } %>
      <% tasks_for_date.sort_by { |t| [t.priority.nil? ? -1 : t.priority] }.each do |task| %>
        <li class="task">
          <%= link_to (goal_icons[task.goal&.category] || "ðŸ“"), task_path(task), title: task.task_name %> |
          <span class="estimated-time orbitron-text">
            <%= render "task_time_status", task: task, goal_icons: goal_icons %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
