<%= form_with(model: task, local: true, html: { class: "task_form" }) do |form| %>
  <%= render "shared/form_errors", form_object: task %>

  <%= render "tasks/form_details", form: form %>
  <%= render "tasks/form_status", form: form, task: task %>
  <%= render "tasks/form_schedule", form: form, task: task %>
  <%= render "tasks/form_meta", form: form %>

  <div class="form-actions">
    <%= form.submit "Save Task", class: "form-submit" %>
  </div>
<% end %>
