<div class="form-field">
  <%= form.label :task_name %>
  <%= form.text_field :task_name, class: "form-input" %>
</div>

<div class="form-field-large">
  <%= form.label :description %>
  <%= form.text_area :description, class: "form-input" %>
</div>

<%= render "shared/smart_fields", form: form %>
