<li id="shopping_list_item_<%= item.id %>" class="shopping-item <%= item.checked_off ? 'shopping-item-checked' : '' %>">
  <%= button_to item.checked_off ? "☑" : "☐",
        shopping_list_item_path(item),
        method: :patch,
        class: "shopping-item-check" %>
  <span class="shopping-item-name"><%= item.food_item.name %></span>
  <span class="shopping-item-qty"><%= item.quantity_needed %> <%= item.food_item.unit %></span>
  <% pi = item.food_item.pantry_item %>
  <% unit_sv = item.food_item.unit_servings&.to_f&.nonzero? || 1.0 %>
  <% on_hand = pi ? (pi.servings_on_hand.to_f / unit_sv).floor : 0 %>
  <span class="shopping-item-on-hand">(<%= on_hand %> <%= item.food_item.unit %> on hand)</span>
  <span class="shopping-item-location"><%= item.food_item.location_label %></span>
</li>
