<div class="rewards">
  <div class="level-1-header">
    <h3>Level 1 Rewards</h3>
    <%= link_to "See documentation for more information",
          documents_path(search: "Level 1"),
          class: "level-1-doc-link" %>
  </div>
  <% state = level_1_reward_state %>

  <div class="level-1-reward <%= state[:unlocked] ? 'unlocked' : 'locked' %>">
    <div class="reward-gallery">
      <% @public_games.each do |game| %>
        <img
          src="<%= game_cover_url(game) %>"
          alt="<%= game.game_title %>"
        />
      <% end %>
    </div>

    <div class="reward-overlay">
      <% if state[:unlocked] %>
        <strong>Reward Unlocked</strong>
        <%= link_to "View Reward", reward_path(@level_1_reward), class: "btn btn-success" %>
      <% else %>
        <strong>
          Complete <%= state[:remaining] %> more task<%= 's' if state[:remaining] != 1 %> to unlock 1 Hour of Gameplay!
        </strong>
      <% end %>
    </div>
  </div>
  <h3>Level 2 Rewards</h3>
  <h5>Coming Soon!</h5>
</div>
