<div class="rewards">
  <div class="level-1-header">
    <h3>Level 1 Rewards</h3>

    <%= link_to "See documentation for more information",
          documents_path(search: "Level 1"),
          class: "level-1-doc-link" %>
  </div>

  <div class="level-1-reward <%= @earned_reward.present? ? 'unlocked' : 'locked' %>">
    <div class="reward-gallery">
      <% @public_games.each do |game| %>
        <img
          src="<%= game_cover_url(game) %>"
          alt="<%= game.game_title %>"
        />
      <% end %>
    </div>

    <div class="reward-overlay">
      <% if @earned_reward.present? %>
        <%= button_to "Redeem Reward",
              redeem_rewards_path,
              method: :post,
              class: "btn btn-success" %>
      <% else %>
        <strong>
          Complete today’s Level 1 tasks to unlock
        </strong>
      <% end %>
    </div>
  </div>

  <hr>

  <h3>All Rewards</h3>

  <div class="reward-list">
    <% @rewards.each do |reward| %>
      <div class="reward-row">
        <%= link_to reward.name.presence || "Reward ##{reward.id}",
              reward_path(reward) %>

        <small>
          (<%= reward.kind %>,
          <%= reward.created_at.to_date %>)
        </small>
      </div>
    <% end %>
  </div>


  <h3>Level 2 Rewards</h3>
  <h5>Coming Soon!</h5>
</div>
