<section class="videos">
  <h2 class="page-title">Videos</h2>
  <ul>
    <% @videos.each do |video| %>
      <li>
        <% if video.youtube_id.present? %>
          <div class="card-image-frame">
            <% thumbnail_url = "https://img.youtube.com/vi/#{video.youtube_id}/hqdefault.jpg" %>
            <%= image_tag thumbnail_url,
              class: "card-image",
              loading: "lazy",
              decoding: "async",
              alt: "#{video.title} thumbnail" %>
          </div>
        <% end %>
        <h3><%= video.title %></h3>
        <p><%= video.description %></p>
        <div class="card-actions">
          <%= link_to "View Details", video_path(video) %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if @videos_total_pages.to_i > 1 %>
    <nav class="pagination">
      <% if @videos_page > 1 %>
        <%= link_to "Prev", videos_path(page: @videos_page - 1) %>
      <% end %>
      <span>Page <%= @videos_page %> of <%= @videos_total_pages %></span>
      <% if @videos_page < @videos_total_pages %>
        <%= link_to "Next", videos_path(page: @videos_page + 1) %>
      <% end %>
    </nav>
  <% end %>
</section>
