<fieldset class="smart-fields">
  <legend>SMART</legend>

  <div class="form-field-large">
    <%= form.label :specific %>
    <%= form.text_area :specific, class: 'form-input' %>
  </div>

  <div class="form-field-large">
    <%= form.label :measurable %>
    <%= form.text_area :measurable, class: 'form-input' %>
  </div>

  <div class="form-field-large">
    <%= form.label :attainable %>
    <%= form.text_area :attainable, class: 'form-input' %>
  </div>

  <div class="form-field-large">
    <%= form.label :relevant %>
    <%= form.text_area :relevant, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :time_bound %>
    <%= form.text_area :time_bound, class: 'form-input' %>
  </div>
</fieldset>