<section class="documents">
  <h2>Documents</h2>
  <% @documents_by_category.sort_by { |category, _| category.to_s.downcase }.each do |category, documents| %>
    <section class="documents-category">
      <h3><%= category.to_s.titleize %></h3>
      <ul>
        <% documents.each do |document| %>
          <li>
            <%= render document %>
            <%= link_to "Show this document", document %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

<% if @documents_total_pages.to_i > 1 %>
  <nav class="pagination">
    <% if @documents_page > 1 %>
      <%= link_to "Prev", documents_path(page: @documents_page - 1) %>
    <% end %>
    <span>Page <%= @documents_page %> of <%= @documents_total_pages %></span>
    <% if @documents_page < @documents_total_pages %>
      <%= link_to "Next", documents_path(page: @documents_page + 1) %>
    <% end %>
  </nav>
<% end %>
</section>
