<section class="document">
  <h1><%= @document.title %></h1>

  <% subheadings = @document.subheadings || [] %>
  <% body = @document.body || [] %>
  <% images = @document.images || [] %>

  <% subheadings.each_with_index do |subheading, index| %>
    
    <h3><%= subheading %></h3>
    <p><%= body[index].to_s %></p>

    <% img = images[index] %>

    <% if img.present? && img["file"].present? %>
      <figure>
        <%= image_tag(
              document_image_url(@document, img),
              alt: img["alt"]
        ) %>

        <figcaption><%= img['caption'] %></figcaption>
      </figure>
    <% end %>

  <% end %>

  <% youtube_ids = @document.youtube_id.is_a?(Array) ? @document.youtube_id : [] %>
  <% if youtube_ids.any? %>
    <h3>Videos</h3>
    <% youtube_ids.each do |video_id| %>
      <iframe 
        width="560"
        height="315"
        src="https://www.youtube.com/embed/<%= video_id %>">
      </iframe>
    <% end %>
  <% end %>

  <% metadata = @document.metadata.is_a?(Hash) ? @document.metadata : {} %>
  <% if metadata.any? %>
    <h3>Related Info</h3>
    <ul>
      <% metadata.each do |key, value| %>
        <li><strong><%= key.humanize %>:</strong> <%= value %></li>
      <% end %>
    </ul>
  <% end %>

</section>
