<section id="game">
  <h2><%= @game.game_name %></h2>

  <ul>
  
    <% if @game.youtube_id.present? || @game.youtube_playlist_id.present? %>
      <li>

        <% if @game.youtube_id.present? %>
          <h3>Featured Video</h3>
          <iframe
            src="https://www.youtube.com/embed/<%= @game.youtube_id %>"
            allowfullscreen
          ></iframe>
        <% end %>

        <% if @game.youtube_playlist_id.present? %>
          <h3>YouTube Playlist</h3>
          <iframe
            src="https://www.youtube.com/embed/videoseries?list=<%= @game.youtube_playlist_id %>"
            allowfullscreen
          ></iframe>
        <% end %>

      </li>
    <% end %>

    <% if @game.progress_data.present? %>
      <li>
        <% data = @game.progress_data.is_a?(String) ? JSON.parse(@game.progress_data) : (@game.progress_data || {}) %>

        <% quick_info   = data["quick_info"]   || [] %>
        <% achievements = data["achievements"] || [] %>
        <% stats        = data["stats"]        || {} %>

        <% if quick_info.any? %>
          <h3>Quick Info</h3>
          <% quick_info.each do |info| %>
            <p><%= info %></p>
          <% end %>
        <% end %>

        <% if achievements.any? %>
          <h3>Achievements</h3>
          <ul>
            <% achievements.each do |ach| %>
              <li><%= ach %></li>
            <% end %>
          </ul>
        <% end %>

        <% if stats.any? %>
          <h3>Stats</h3>
          <ul>
            <% stats.each do |key, value| %>
              <li>
                <strong><%= key.to_s.humanize %>:</strong> <%= value %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>

    <% if @game.game_image.present? %>
      <li>
        <h3>Image Gallery</h3>
        <%= image_tag(game_image_url(@game, @game.game_image), alt: @game.game_name) %>
      </li>
    <% end %>

  </ul>
</section>