<% return if pantry_item.nil? %>
<div id="pantry_item_<%= pantry_item.id %>" class="pantry-item pantry-item-<%= pantry_item.stock_status %>">
  <div class="pantry-item-name"><%= pantry_item.food_item.name %></div>
  <div class="pantry-item-location"><%= pantry_item.food_item.location_label %></div>
  <span class="pantry-badge pantry-<%= pantry_item.stock_status %> pantry-servings-badge">
    <%= pantry_item.derived_servings %> srv
  </span>
  <% if pantry_item.food_item.serving_size.present? && pantry_item.food_item.servings_per_unit > 1 %>
    <div class="pantry-item-raw">(<%= pantry_item.servings_on_hand %> <%= pantry_item.food_item.serving_size %>)</div>
  <% end %>
  <div class="pantry-set-form-row">
    <%= form_with model: pantry_item, url: pantry_item_path(pantry_item), method: :patch, class: "pantry-set-form" do |f| %>
      <%= f.number_field :min_servings, value: pantry_item.min_servings, min: 0, max: 9999, step: 1, class: "pantry-bulk-input" %>
      <%= f.submit "Set Min", class: "pantry-bulk-btn" %>
    <% end %>
  </div>
  <div class="pantry-set-form-row">
    <%= form_with url: set_servings_pantry_item_path(pantry_item), method: :patch, class: "pantry-set-form" do |f| %>
      <%= f.number_field :amount, value: pantry_item.servings_on_hand, min: 0, max: 9999, step: 0.1, class: "pantry-bulk-input" %>
      <%= f.submit "Set", class: "pantry-bulk-btn" %>
    <% end %>
    <% if pantry_item.food_item.unit_servings.present? %>
      <%= button_to "+ 1 #{pantry_item.food_item.unit}", add_unit_pantry_item_path(pantry_item),
            method: :patch, class: "pantry-bulk-btn pantry-add-unit-btn" %>
    <% end %>
  </div>
</div>
