<%= form_with(model: goal, local: true, html: { class: "goal_form" }) do |form| %>
  <%= render "shared/form_errors", form_object: goal %>

  <%= render "goals/form_details", form: form %>
  <%= render "goals/form_schedule", form: form %>
  <%= render "goals/form_categorization", form: form %>
  <%= render "goals/form_status", form: form %>

  <div class="form-actions">
    <%= form.submit "Save Goal", class: "form-submit" %>
  </div>
<% end %>
