<ul class="actions-list">
  <li>
    <%= link_to edit_goal_path(goal) do %>
      <%= "#{GOAL_ICONS["edit"]}#{GOAL_ICONS["goal"]}Edit this Goal" %>
    <% end %>
  </li>
  <li>
    <%= link_to goals_path do %>
      <%= "#{GOAL_ICONS["back"]}#{GOAL_ICONS["goal"]}Back to Goals" %>
    <% end %>
  </li>
  <li class="action-divider"><hr></li>
  <li><%= link_to "#{GOAL_ICONS["task"]}", tasks_path %>Go to Tasks</li>
  <li><%= link_to "#{GOAL_ICONS["calendar"]}", calendar_daily_path %>Go to Calendar (Daily)</li>
  <li><%= link_to "#{GOAL_ICONS["calendar"]}", calendar_monthly_path %>Go to Calendar (Monthly)</li>
  <li class="action-divider"><hr></li>
  <li><%= button_to "Delete Goal", goal, method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
