<ul class="nav-public">
  <li>
    <%= link_to root_path do %>
      <% proxy_url = image_proxy_url("branding/logo.png", width: 300, height: 300, fit: "inside", format: "webp") %>
      <% logo_key = "branding/logo.png" %>
      <% fallback_logo = image_path("branding/logo.png") %>
      <% logo_url = s3_object_exists?(logo_key) ? proxy_url : fallback_logo %>
      <%= fallback_image_tag(logo_url,
                            fallback: fallback_logo,
                            alt: "Logo",
                            class: "navbar-logo",
                            loading: "lazy",
                            decoding: "async") %>
    <% end %>
  </li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Blog", blog_posts_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "Services", services_path %></li>
  <li><%= link_to "Videos", videos_path %></li>
</ul>
